extends ../layout

block content

  .pb-2.mt-2.mb-4.border-bottom
    h3 Profile Information

  form(action=updateProfileAction, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', value=user.email, autocomplete='email')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='username', id='username', value=user.username, autocomplete='username')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Profile

  .pb-2.mt-2.mb-4.border-bottom
    h3 Change Password

  form(action=updatePasswordAction, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') New Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', autocomplete='new-password')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Change Password

  .pb-2.mt-2.mb-4.border-bottom
    h3 Manage Account

  if referringUser.admin === true

      form(action=addToRoom, method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          label.col-md-3.col-form-label.font-weight-bold.text-right(for='room') Add to room
          .col-md-7
            select.form-control(type='room', name='room', id='room')
              each room in rooms
                option(value=room.id, selected=(room.alleged_party)) #{room.alleged_party}
        .form-group
          .offset-sm-3.col-md-7.pl-2
            button.btn.btn.btn-primary(type='submit')
              i.fas.fa-pencil-alt.fa-sm
              | Add

      form(action=action, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        if user.invited === true
          p.offset-sm-3.col-md-7.pl-2 This user has been invited. You can resend the invitation, if needed.
          .offset-sm-3.col-md-7.pl-2
            button.btn.btn.btn-primary(type='submit')
              i.fas.fa-pencil-alt.fa-sm
              | Re-Invite
        else
          .offset-sm-3.col-md-7.pl-2
            button.btn.btn.btn-primary(type='submit')
              i.fas.fa-pencil-alt.fa-sm
              | Re-Invite
        end

        if user.admin === false

          form(action=adminGrantAction, method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
            p.offset-sm-3.col-md-7.pl-2 This user is not an admin.
              .offset-sm-3.col-md-7.pl-2
                button.btn.btn.btn-primary(type='submit')
                  i.fas.fa-pencil-alt.fa-sm
                  | Make Admin
        else

          form(action=adminRevokeAction, method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
            p.offset-sm-3.col-md-7.pl-2 This user is an admin.
              .offset-sm-3.col-md-7.pl-2
                button.btn.btn.btn-primary(type='submit')
                  i.fas.fa-pencil-alt.fa-sm
                  | Revoke Admin
        end

  form(action=deleteAction, method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 Delete this account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Delete account
